.body-socios {
    width: 100%;
    height: auto;  
    @include dFC; 
    padding-top: 20vh;
    padding-bottom: 20vh;
    &__form {
        width: 80%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 6vh;
        &__h2-socios {
            width: 100%;
            height: auto;
            @include dFC; 
            color: white;
            font-family: 'Merienda', cursive;
            font-size: 22px;
            &:hover {
                color: $amarilloQueCorte;
            }            
        }
        &__label-input-socios {
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: 1fr 2fr;
            color: white;
            &__label {
                display: flex;
                align-items: center;
                font-size: 20px;
            }
            &__input {
                height: 100%;
            }
        }        
        &__btn-socios {
            width: 100%;
            height: auto;
            @include dFC;
            &__prop {   
                height: 40px;       
                font-size: 18px;
                font-weight: 700;
                &:hover {
                    background-color: white;
                    color: black;
                }
            }
        }
    }
}